aiohttp==3.8.6
aiosignal==1.3.1
asgiref==3.7.2
async-timeout==4.0.3
attrs==23.1.0
autopep8==2.0.2
beautifulsoup4==4.12.2
bs4==0.0.1
cachetools==5.3.1
calc==1.0
certifi==2023.7.22
cffi==1.15.1
chardet==5.2.0
charset-normalizer==3.2.0
click==8.1.7
colorama==0.4.6
contourpy==1.2.0
cycler==0.12.1
Django==4.2.3
django-admin-honeypot-updated-2021==1.2.0
django-cleanup==8.0.0
django-cors-headers==4.3.0
django-extensions==3.2.3
django-ipware==5.0.1
django-jalali-date==1.0.1
djangorestframework==3.14.0
djangorestframework-simplejwt==5.3.0
drf-spectacular==0.27.1
easyocr==1.7.1
et-xmlfile==1.1.0
exceptiongroup==1.1.2
filelock==3.13.1
fonttools==4.47.2
frozenlist==1.4.0
fsspec==2023.12.2
google-api-core==2.11.1
google-auth==2.22.0
google-cloud-vision==3.4.4
googleapis-common-protos==1.60.0
grpcio==1.56.2
grpcio-status==1.56.2
gunicorn==20.1.0
h11==0.14.0
idna==3.4
imageio==2.33.1
importlib-resources==6.1.1
imutils==0.5.4
inflection==0.5.1
install==1.3.5
jdatetime==4.1.1
Jinja2==3.1.3
joblib==1.3.2
jsonschema==4.21.1
jsonschema-specifications==2023.12.1
kiwisolver==1.4.5
langdetect==1.0.9
lazy_loader==0.3
MarkupSafe==2.1.3
matplotlib==3.8.2
maxminddb==2.4.0
model-bakery==1.12.0
mpmath==1.3.0
multidict==6.0.4
networkx==3.2.1
ninja==1.11.1.1
nltk==3.8.1
nopecha==1.0.8
numpy==1.25.2
opencv-python==4.8.0.74
opencv-python-headless==4.9.0.80
openpyxl==3.1.2
outcome==1.2.0
packaging==23.2
pandas==2.1.4
Pillow==10.0.0
proto-plus==1.22.3
protobuf==4.24.0
psycopg==3.1.12
psycopg2==2.9.1
pyaes==1.6.1
pyasn1==0.5.0
pyasn1-modules==0.3.0
pyclipper==1.3.0.post5
pycodestyle==2.10.0
pycparser==2.21
pygame==2.0.1
PyJWT==1.7.1
pyodbc==4.0.39
pyparsing==3.1.1
PySocks==1.7.1
pyTelegramBotAPI==4.12.0
python-bidi==0.4.2
python-dateutil==2.8.2
python-decouple==3.8
python-dotenv==0.20.0
pytz==2023.3.post1
PyYAML==6.0.1
referencing==0.33.0
regex==2023.10.3
requests==2.31.0
rest-framework-simplejwt==0.0.2
rpds-py==0.18.0
rsa==4.9
scikit-image==0.22.0
scipy==1.11.4
selenium==4.10.0
shapely==2.0.2
six==1.16.0
sniffio==1.3.0
sorl-thumbnail==12.9.0
sortedcontainers==2.4.0
soupsieve==2.5
sqlparse==0.4.4
suds==1.1.2
sympy==1.12
telebot==0.0.5
Telethon==1.29.2
tifffile==2023.12.9
tomli==2.0.1
torch==2.1.2
torchvision==0.16.2
tqdm==4.66.1
trio==0.22.2
trio-websocket==0.10.3
typing_extensions==4.7.1
tzdata==2023.3
uritemplate==4.1.1
urllib3==2.0.5
wsproto==1.2.0
xlrd==2.0.1
yarl==1.9.2
youtube-dl==2021.12.17
youtube-search==2.1.2
zipp==3.17.0
